:root {
    /* Colors */
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F0F6FE;
    --cta-color: #0D66F5;
    --text-color: #09347A;
    --icon-color: #8FB8FA;

    /* Fonts */
    --main-font: "Inter", sans-serif;

    /* Text sizes */
    --main-text-size: 16px;
    --title-text-size: 32px;

    /* Text weights */
    --regular-text-weight: 400;
    --semibold-text-weight: 600;
    --bold-text-weight: 700;

    /* Widths and heights */
    --normal-card-width: 30%;
    --prob-card-width: 75%;
    --large-card-width: 45%;
    --section-width: 1080px;

    /* Others (shadows etc...) */
    --card-shadow: 0px 0px 6px #09090950;
    --round-radius: 16px;
}

h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

h1 {
    text-align: center;
    margin-bottom: 24px;
}

h2 {
    text-align: center;
}

header {
    height: 100vh;
    background-image: url(assets/heroDoc.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-card {
    justify-content: space-between;

    p {
        height: 50px;
    }
}

.wireframe {
    display: flex;
    align-items: center;
}

iframe {
    width: fit-content;
}


#et-ensuite {
    padding: 32px 0px;
    background-color: var(--cta-color);

    h2 {
        color: var(--primary-bg-color);
        text-align: center;
    }

    h3 {
        color: var(--primary-bg-color);
        text-align: center;
        font-weight: 200;
    }

    p {
        color: var(--primary-bg-color);
        text-align: center;
        font-weight: 250;
    }

    .gap {
        gap: 36px;
    }
}

.display-flex {
    display: flex;
}

section {
    padding: 48px 24px;
}